In [1]:
import pandas as pd
import os
import sqlite3

In [2]:
conn= sqlite3.connect("googlesearch.db")
googlesearch = pd.read_csv('AAALDRALRALEXALX.csv').T

In [83]:
name= googlesearch.iloc[0].tolist()
googlesearch.columns =name

In [8]:
df =googlesearch.drop(googlesearch.index[:1])
df.index.name='Date'

In [9]:
#df =df.reset_index()
daf=df.pop(name[1])
daf =daf.reset_index()

daf.columns=['Date','GoogleSeaerch']
#daf.to_sql(name[1], conn, if_exists='append', index=False)

NameError: name 'name' is not defined

NameError: name 'daf' is not defined

In [87]:
locals_file_path = os.path.split(os.path.realpath(__file__))[0]
os.listdir(locals_file_path)

In [31]:
conn= sqlite3.connect("googlesearch.db")

#locals_file_path = os.path.split(os.path.realpath(__file__))[0]
#csvfiles =[ file for file in os.listdir(locals_file_path) if '.csv' in file]
csvfiles =['AAALDRALRALEXALX.csv']
for csvfile in csvfiles:
    googlesearch = pd.read_csv(csvfile).T
    names= googlesearch.iloc[0].tolist()
    googlesearch.columns =names
    df =googlesearch.drop(googlesearch.index[:1])
    df.index.name='Date'

    for name in names:
        daf=df.pop(name)
        daf =daf.reset_index()
        daf.columns=['Date','GoogleSeaerch']
        for datenumber in xrange(len(daf['Date'])):
            temp =daf['Date'][datenumber].split('-')
            date_replace = temp[0]+temp[1]+temp[2]
            daf.set_value(datenumber,'Date',date_replace)
        try:
            
            
            
            #print daf['Date'].tolist()
            daf.to_sql(name, conn, if_exists='append', index=False)
        except Exception as e:
            pass

          Date GoogleSeaerch
0     20040101            33
1     20040102            73
2     20040103            70
3     20040104            32
4     20040105             0
5     20040106            54
6     20040107            55
7     20040108            63
8     20040109            63
9     20040110            44
10    20040111            67
11    20040112            62
12    20040113            49
13    20040114            31
14    20040115            51
15    20040116            46
16    20040117            31
17    20040118            24
18    20040119            39
19    20040120            15
20    20040121            27
21    20040122            40
22    20040123            34
23    20040124            37
24    20040125            48
25    20040126            49
26    20040127            41
27    20040128            42
28    20040129            46
29    20040130            29
...        ...           ...
4900  20170601            82
4901  20170602            80
4902  20170603            61
4903  20170604            54
4904  20170605            80
4905  20170606           100
4906  20170607            73
4907  20170608            68
4908  20170609            74
4909  20170610            50
4910  20170611            50
4911  20170612            81
4912  20170613            83
4913  20170614            77
4914  20170615            72
4915  20170616            78
4916  20170617            53
4917  20170618            53
4918  20170619            79
4919  20170620            74
4920  20170621            82
4921  20170622            84
4922  20170623            80
4923  20170624            66
4924  20170625            67
4925  20170626            95
4926  20170627            93
4927  20170628            74
4928  20170629            84
4929  20170630            81

[4930 rows x 2 columns]
          Date GoogleSeaerch
0     20040101             0
1     20040102             0
2     20040103             0
3     20040104             0
4     20040105             0
5     20040106             0
6     20040107             0
7     20040108             0
8     20040109             0
9     20040110             0
10    20040111             0
11    20040112             0
12    20040113             0
13    20040114             0
14    20040115             0
15    20040116             0
16    20040117             0
17    20040118             0
18    20040119             0
19    20040120             0
20    20040121             0
21    20040122             0
22    20040123             0
23    20040124             0
24    20040125             0
25    20040126             0
26    20040127             0
27    20040128             0
28    20040129             0
29    20040130             0
...        ...           ...
4900  20170601             2
4901  20170602             0
4902  20170603             0
4903  20170604             0
4904  20170605             0
4905  20170606             1
4906  20170607             1
4907  20170608             1
4908  20170609             1
4909  20170610             0
4910  20170611             0
4911  20170612             1
4912  20170613             2
4913  20170614             0
4914  20170615             4
4915  20170616             2
4916  20170617             0
4917  20170618             0
4918  20170619             0
4919  20170620             0
4920  20170621             0
4921  20170622             2
4922  20170623             0
4923  20170624             0
4924  20170625             0
4925  20170626             0
4926  20170627             2
4927  20170628             3
4928  20170629             2
4929  20170630             2

[4930 rows x 2 columns]
          Date GoogleSeaerch
0     20040101             0
1     20040102             0
2     20040103             0
3     20040104             0
4     20040105             0
5     20040106             0
6     20040107             0
7     20040108             0
8     20040109             0
9     20040110             0
10    20040111             0
11    20040112             0
12    20040113             0
13    20040114             0
14    20040115             0
15    20040116             0
16    20040117             0
17    20040118             0
18    20040119             0
19    20040120             0
20    20040121             0
21    20040122             0
22    20040123            13
23    20040124             0
24    20040125             0
25    20040126             0
26    20040127             0
27    20040128             0
28    20040129             0
29    20040130             0
...        ...           ...
4900  20170601             0
4901  20170602             0
4902  20170603             0
4903  20170604             1
4904  20170605             1
4905  20170606             0
4906  20170607             3
4907  20170608             2
4908  20170609             1
4909  20170610             1
4910  20170611             0
4911  20170612             0
4912  20170613             0
4913  20170614             1
4914  20170615             1
4915  20170616             1
4916  20170617             1
4917  20170618             1
4918  20170619             1
4919  20170620             1
4920  20170621             2
4921  20170622             0
4922  20170623             1
4923  20170624             0
4924  20170625             1
4925  20170626             1
4926  20170627             1
4927  20170628             1
4928  20170629             0
4929  20170630             0

[4930 rows x 2 columns]
          Date GoogleSeaerch
0     20040101            33
1     20040102             0
2     20040103            20
3     20040104            58
4     20040105             0
5     20040106            40
6     20040107            24
7     20040108            18
8     20040109            13
9     20040110             0
10    20040111            18
11    20040112            12
12    20040113            11
13    20040114            31
14    20040115            16
15    20040116            12
16    20040117             0
17    20040118            18
18    20040119            24
19    20040120            23
20    20040121            12
21    20040122            18
22    20040123            32
23    20040124            28
24    20040125             0
25    20040126            23
26    20040127            23
27    20040128            29
28    20040129            17
29    20040130            12
...        ...           ...
4900  20170601            38
4901  20170602            35
4902  20170603            31
4903  20170604            23
4904  20170605            39
4905  20170606            42
4906  20170607            45
4907  20170608            39
4908  20170609            43
4909  20170610            32
4910  20170611            33
4911  20170612            38
4912  20170613            39
4913  20170614            40
4914  20170615            39
4915  20170616            43
4916  20170617            29
4917  20170618            31
4918  20170619            43
4919  20170620            32
4920  20170621            37
4921  20170622            39
4922  20170623            38
4923  20170624            27
4924  20170625            26
4925  20170626            46
4926  20170627            47
4927  20170628            35
4928  20170629            44
4929  20170630            31

[4930 rows x 2 columns]
          Date GoogleSeaerch
0     20040101             0
1     20040102             0
2     20040103             0
3     20040104             0
4     20040105             0
5     20040106             0
6     20040107             0
7     20040108             0
8     20040109             0
9     20040110             0
10    20040111             0
11    20040112             0
12    20040113             0
13    20040114             0
14    20040115             0
15    20040116             0
16    20040117             0
17    20040118             0
18    20040119             0
19    20040120             0
20    20040121             0
21    20040122             0
22    20040123             0
23    20040124             0
24    20040125             0
25    20040126             0
26    20040127             0
27    20040128             0
28    20040129             0
29    20040130             0
...        ...           ...
4900  20170601             1
4901  20170602             1
4902  20170603             0
4903  20170604             0
4904  20170605             1
4905  20170606             1
4906  20170607             1
4907  20170608             0
4908  20170609             0
4909  20170610             0
4910  20170611             0
4911  20170612             1
4912  20170613             0
4913  20170614             0
4914  20170615             0
4915  20170616             0
4916  20170617             0
4917  20170618             0
4918  20170619             0
4919  20170620             0
4920  20170621             2
4921  20170622             0
4922  20170623             0
4923  20170624             0
4924  20170625             0
4925  20170626             0
4926  20170627             0
4927  20170628             1
4928  20170629             1
4929  20170630             0

[4930 rows x 2 columns]