In [3]:
import requests,sqlite3
import requests_cache
import pandas as pd



def InitalSqliteConnection(target):
    if target != 0:
        conn = sqlite3.connect(target)
    else:
        conn = sqlite3.connect(":memory:")

    return conn

In [10]:
con =InitalSqliteConnection('chinaaid.db')
con.text_factory = str
ca=pd.read_csv('ChinaAid_own.csv')
ca.to_sql('ChinaAidProjectlist',con,if_exists='replace')

ProgrammingError: You must not use 8-bit bytestrings unless you use a text_factory that can interpret 8-bit bytestrings (like text_factory = str). It is highly recommended that you instead just switch your application to Unicode strings.

In [5]:
if __name__ == '__main__':
    requests_cache.install_cache(
        cache_name="ChinaAidProjectInfo", backend="sqlite", expire_date=300)
    r = requests.get(
        'http://china.aiddata.org/aggregates/projects?get=donor,year')
    
    rr = pd.DataFrame(eval(r.text))

   count donor max_year min_year         usd_2009      usd_current  year
0    612   CHN     2012     2012  242141936233.58  228643847297.01  2012
1    707   CHN     2011     2011  571202007899.82  514602279343.95  2011
2    732   CHN     2010     2010  287046094993.33  228291828383.53  2010
3    691   CHN     2009     2009  222183721795.78  163760775136.54  2009
4    533   CHN     2008     2008   82637651951.42   59948228361.36  2008
5    611   CHN     2007     2007  173976268208.42  106895765931.52  2007
6    560   CHN     2006     2006   97264355295.99   52877989567.78  2006
7    490   CHN     2005     2005  101329674473.39   53205212659.96  2005
8    366   CHN     2004     2004  548585964989.46  266201248024.85  2004
9    310   CHN     2003     2003   27279094105.19   12381051815.19  2003
10   260   CHN     2002     2002   27580661175.09   12202880862.34  2002
11   240   CHN     2001     2001   31475648019.92   13844635464.20  2001
12   218   CHN     2000     2000   33167760886.30   14293482376.01  2000

In [83]:
param =['donor'
,'status'
,'intent'
,'year'
,'crs_sector_name'
,'flow_class'
,'recipient_name'
,'recipient_iso2'
,'recipient_iso3']
r2 = requests.get(
        'http://china.aiddata.org/aggregates/projects?get=%s'%(','.join(param)))
#print ','.join(param)

recipent =pd.DataFrame(eval(r2.text.replace('null','"NULL"')))

In [87]:
recipent.to_hdf('ChinaAid.h5','ChinaAid',complevel =9,complib='blosc')

In [48]:
yearandrecipent_based=[]
for year,year_df in recipent.groupby('year'):
    yearandrecipent_based.extend([(year,recipients,recipients_df.usd_current.sum()) for recipients,recipients_df in year_df.groupby('recipient_name')])
         
pd.DataFrame(yearandrecipent_based,columns=['year','recipient_name','totalamount'])

      year        recipient_name     totalamount
0     2000           Afghanistan       500000.00
1     2000      Africa, regional   2449537230.21
2     2000               Albania      1803973.85
3     2000                Angola            NULL
4     2000            Bangladesh    303649316.85
5     2000              Barbados       950000.00
6     2000               Belarus       603973.85
7     2000                 Benin      9240799.84
8     2000    Bosnia-Herzegovina            NULL
9     2000              Botswana            NULL
10    2000                Brazil    860000000.00
11    2000              Bulgaria     20600000.00
12    2000               Burundi            NULL
13    2000              Cambodia     46887426.70
14    2000              Cameroon            NULL
15    2000            Cape Verde            NULL
16    2000  Central African Rep.            NULL
17    2000      Congo, Dem. Rep.     10267503.52
18    2000           Congo, Rep.     73308941.47
19    2000                 Egypt    200000000.00
20    2000               Eritrea     10000000.00
21    2000              Ethiopia       224158.95
22    2000                  Fiji      1807500.00
23    2000                 Gabon      2600000.00
24    2000               Georgia     54362384.31
25    2000                 Ghana     29520000.00
26    2000                Guinea      6869429.65
27    2000         Guinea-Bissau      6000000.00
28    2000             Indonesia        40000.00
29    2000                  Iran   1002000000.00
...    ...                   ...             ...
1306  2012               Senegal     50211948.00
1307  2012                Serbia   1451923939.60
1308  2012            Seychelles            NULL
1309  2012          Sierra Leone   2725158420.04
1310  2012          South Africa   1941631100.79
1311  2012           South Sudan    200000000.00
1312  2012             Sri Lanka   2224691436.85
1313  2012                 Sudan   1568526011.10
1314  2012              Suriname     50031684.01
1315  2012                 Syria      2000000.00
1316  2012            Tajikistan    672763005.55
1317  2012              Tanzania   1813470491.63
1318  2012              Thailand        80429.58
1319  2012           Timor-Leste            NULL
1320  2012                  Togo     16061829.87
1321  2012                 Tonga       189210.02
1322  2012     Trinidad & Tobago            NULL
1323  2012               Tunisia     42784820.13
1324  2012                Turkey    600000000.00
1325  2012                Uganda    218586996.94
1326  2012               Ukraine   5498614703.88
1327  2012  United Arab Emirates   2030000000.00
1328  2012               Uruguay    425000000.00
1329  2012            Uzbekistan    359921033.85
1330  2012               Vanuatu        50000.00
1331  2012             Venezuela  19795000000.00
1332  2012              Viet Nam        10000.00
1333  2012                 Yemen            NULL
1334  2012                Zambia  16723967804.78
1335  2012              Zimbabwe   4867029724.29

[1336 rows x 3 columns]

DataError: No numeric types to aggregate

In [50]:
r3 = requests.get('http://china.aiddata.org/aggregates/projects?get=flowclass,recipientname')
print r3.text

In [51]:
r3