In [2]:
import requests
import requests_cache
import pandas as pd

In [5]:
if __name__ == '__main__':
    requests_cache.install_cache(
        cache_name="ChinaAidProjectInfo", backend="sqlite", expire_date=300)
    r = requests.get(
        'http://china.aiddata.org/aggregates/projects?get=donor,year')
    
    rr = pd.DataFrame(eval(r.text))



    print pd.DataFrame(eval(r.text))

   count donor max_year min_year         usd_2009      usd_current  year
0    612   CHN     2012     2012  242141936233.58  228643847297.01  2012
1    707   CHN     2011     2011  571202007899.82  514602279343.95  2011
2    732   CHN     2010     2010  287046094993.33  228291828383.53  2010
3    691   CHN     2009     2009  222183721795.78  163760775136.54  2009
4    533   CHN     2008     2008   82637651951.42   59948228361.36  2008
5    611   CHN     2007     2007  173976268208.42  106895765931.52  2007
6    560   CHN     2006     2006   97264355295.99   52877989567.78  2006
7    490   CHN     2005     2005  101329674473.39   53205212659.96  2005
8    366   CHN     2004     2004  548585964989.46  266201248024.85  2004
9    310   CHN     2003     2003   27279094105.19   12381051815.19  2003
10   260   CHN     2002     2002   27580661175.09   12202880862.34  2002
11   240   CHN     2001     2001   31475648019.92   13844635464.20  2001
12   218   CHN     2000     2000   33167760886.30   14293482376.01  2000

In [81]:
param =['donor'
,'status'
,'intent'
,'year'
,'crssectorname'
,'flow_class'
,'recipient_name'
,'recipient_iso2'
,'recipient_iso3']
r2 = requests.get(
        'http://china.aiddata.org/aggregates/projects?get=%s'%(','.join(param)))
print ','.join(param)

recipent =pd.DataFrame(eval(r2.text.replace('null','"NULL"')))

donor,status,intent,year,crssectorname,flow_class,recipient_name,recipient_iso2,recipient_iso3

,count,max_year,min_year,recipient_iso3,usd_2009,usd_current
0,54,2012,2000,AFG,6039122258.26,4498875792.63
1,82,2012,2000,"Africa, regional",60523435973.42,51281524978.80
2,134,2012,2000,AGO,52364081754.89,33596897430.03
3,22,2012,2000,ALB,10889067635.95,10132490809.22
4,4,2012,2008,ARE,2187388919.50,2057229407.76
5,13,2012,2003,ARG,25785325953.06,19686000000.00
6,9,2012,2001,ARM,70211024.99,38062660.42
7,4,2012,2007,ATG,141841706.81,102050925.27
8,14,2012,2002,AZE,1573915801.79,946648016.45
9,50,2012,2000,BDI,309275777.04,180741041.94
10,21,2012,2000,BEN,106044471.29,66983434.09
11,76,2012,2000,BGD,3870247905.47,2506651568.69
12,14,2012,2000,BGR,235945394.16,146450588.60
13,3,2012,2011,BHR,NULL,NULL
14,9,2012,2009,BHS,3248615409.84,2885710000.00
15,7,2011,2000,BIH,560236543.47,495980804.58
16,58,2012,2000,BLR,39068456402.32,30009482090.27
17,52,2012,2003,BOL,7775514390.82,4755795049.14
18,67,2012,2000,BRA,559976101432.02,291436547446.27
19,4,2011,2000,BRB,12960234.58,10640000.00
20,17,2012,2003,BRN,6670799321.88,6008014770.46
21,40,2012,2000,BWA,2094436816.25,1542508878.43
22,31,2012,2000,CAF,275949776.93,157324996.03
23,1,2010,2010,CAN,NULL,NULL
24,15,2012,2006,CHL,5916264864.70,4303300000.00
25,44,2012,2001,CIV,44953385336.68,42266608584.39
26,81,2012,2000,CMR,7134411758.40,5721857683.58
27,47,2012,2000,COD,7226210193.08,4630754545.61
28,70,2012,2000,COG,2805995048.16,1829270995.88
29,8,2009,2004,COK,40728845.92,23272135.40
...,...,...,...,...,...,...
116,13,2011,2002,SOM,43400857.65,30949702.42
117,18,2012,2000,SRB,3588470667.81,3095532226.70
118,16,2012,2008,SSD,427349922.64,393312750.45
119,14,2012,2001,SUR,368206332.73,252431684.01
120,27,2012,2000,SYC,183663339.64,136467568.53
121,16,2012,2001,SYR,3503117604.35,2320553577.24
122,21,2012,2006,TCD,3525211933.09,2471859096.51
123,47,2012,2001,TGO,1359949655.40,819440270.71
124,57,2012,2000,THA,28648210777.23,16515956141.38
125,44,2012,2000,TJK,2682336354.83,1863998912.89
126,16,2011,2000,TKM,10944335833.84,8610741310.74
127,44,2012,2000,TLS,43376846.58,25163241.22
128,45,2012,2000,TON,432656082.82,269922339.87
129,17,2012,2000,TTO,182740351.60,110480358.01
130,33,2012,2000,TUN,187885386.29,117873298.77
131,14,2012,2002,TUR,2060042416.28,1521078410.00
132,115,2012,2000,TZA,8205299701.39,6817727192.40
133,94,2012,2000,UGA,6794519040.54,4577079794.01
134,43,2012,2000,UKR,14967580241.12,13460572934.54
135,24,2012,2004,URY,776070899.61,658455435.24
136,50,2012,2000,UZB,7777807961.48,5801798914.37
137,85,2012,2001,VEN,130049891151.47,96302017415.46
138,62,2012,2000,VNM,10034126900.19,6103961044.31
139,27,2012,2000,VUT,175191947.64,111589001.36
140,21,2012,2004,WSM,284873405.34,183207765.07
141,33,2012,2000,YEM,1583372924.39,883800924.45
142,66,2012,2000,ZAF,43700408427.26,29310660631.69
143,109,2012,2000,ZMB,48888221276.28,42030752808.26
144,215,2012,2000,ZWE,34454437370.14,21516121632.57
145,1,2007,2007,NULL,641810689.21,394345998.52

,count,max_year,min_year,recipient_name,usd_2009,usd_current,year
0,5,2012,2012,Afghanistan,449501460.29,424444211.71,2012
1,11,2012,2012,"Africa, regional",24044541095.46,22704189402.59,2012
2,3,2012,2012,Albania,10590438234.09,10000079210.02,2012
3,1,2012,2012,Algeria,NULL,NULL,2012
4,6,2012,2012,Angola,1975992797.63,1865842003.70,2012
5,1,2012,2012,Antigua & Barbuda,1073743.57,1013888.24,2012
6,2,2012,2012,Argentina,594118878.92,561000000.00,2012
7,1,2012,2012,Armenia,11744070.29,11089402.59,2012
8,1,2012,2012,Azerbaijan,10066345.97,9505202.22,2012
9,2,2012,2012,Bahamas,41831899.67,39500000.00,2012
10,1,2012,2012,Bahrain,NULL,NULL,2012
11,5,2012,2012,Bangladesh,364787938.50,344453005.55,2012
12,7,2012,2012,Belarus,1905225967.08,1799020037.00,2012
13,1,2012,2012,Benin,NULL,NULL,2012
14,5,2012,2012,Bolivia,244668956.50,231030000.00,2012
15,4,2012,2012,Botswana,30579.27,28874.64,2012
16,3,2012,2012,Brazil,5952640461.46,5620813304.19,2012
17,2,2012,2012,Brunei,NULL,NULL,2012
18,3,2012,2012,Bulgaria,10436.93,9855.13,2012
19,6,2012,2012,Burundi,2980052.23,2813930.61,2012
20,33,2012,2012,Cambodia,4421296284.84,4174833192.17,2012
21,12,2012,2012,Cameroon,1866281688.76,1762246689.25,2012
22,4,2012,2012,Cape Verde,66719232.39,63000000.00,2012
23,1,2012,2012,Central African Rep.,NULL,NULL,2012
24,2,2012,2012,Chad,11649389.78,11000000.00,2012
25,3,2012,2012,Chile,1008201733.92,952000000.00,2012
26,6,2012,2012,Colombia,814434427.88,769034161.78,2012
27,10,2012,2012,Comoros,275349.21,260000.00,2012
28,3,2012,2012,"Congo, Dem. Rep.",105903543.48,100000000.00,2012
29,13,2012,2012,"Congo, Rep.",720925971.17,680738290.23,2012
...,...,...,...,...,...,...,...
1306,6,2000,2000,Papua New Guinea,48608188.73,20947458.32,2000
1307,1,2000,2000,Peru,3944818486.03,1700000000.00,2000
1308,3,2000,2000,Philippines,4882605809.22,2104134804.95,2000
1309,3,2000,2000,Romania,1360355.41,586238.43,2000
1310,2,2000,2000,Russia,1113831101.94,480000000.00,2000
1311,4,2000,2000,Rwanda,11212080.91,4831790.77,2000
1312,1,2000,2000,Serbia,5569155.51,2400000.00,2000
1313,1,2000,2000,Seychelles,580120.37,250000.00,2000
1314,3,2000,2000,Sierra Leone,28425897.91,12250000.00,2000
1315,1,2000,2000,Singapore,NULL,NULL,2000
1316,5,2000,2000,South Africa,60521258.53,26081336.79,2000
1317,1,2000,2000,Sri Lanka,5606040.45,2415895.38,2000
1318,1,2000,2000,St. Lucia,47269066.83,20370370.37,2000
1319,8,2000,2000,Sudan,400630821.03,172649869.23,2000
1320,3,2000,2000,Tajikistan,9810570.79,4227816.92,2000
1321,8,2000,2000,Tanzania,129263542.84,55705483.94,2000
1322,3,2000,2000,Thailand,2232493613.39,962082072.01,2000
1323,2,2000,2000,Timor-Leste,14015101.13,6039738.46,2000
1324,3,2000,2000,Tonga,395873.42,170599.69,2000
1325,1,2000,2000,Trinidad & Tobago,7657588.83,3300000.00,2000
1326,2,2000,2000,Tunisia,6771750.72,2918252.45,2000
1327,1,2000,2000,Turkmenistan,28030202.26,12079476.92,2000
1328,6,2000,2000,Uganda,54862937.95,23642911.54,2000
1329,3,2000,2000,Ukraine,2274902.92,980358.15,2000
1330,2,2000,2000,Uzbekistan,696144.44,300000.00,2000
1331,2,2000,2000,Vanuatu,13528406.93,5830000.00,2000
1332,5,2000,2000,Viet Nam,124540237.77,53669999.00,2000
1333,1,2000,2000,Yemen,162433702.37,70000000.00,2000
1334,4,2000,2000,Zambia,362330737.57,156144637.84,2000
1335,6,2000,2000,Zimbabwe,5636611663.05,2429069895.38,2000

In [48]:
yearandrecipent_based=[]
for year,year_df in recipent.groupby('year'):
    yearandrecipent_based.extend([(year,recipients,recipients_df.usd_current.sum()) for recipients,recipients_df in year_df.groupby('recipient_name')])
         
pd.DataFrame(yearandrecipent_based,columns=['year','recipient_name','totalamount'])

      year        recipient_name     totalamount
0     2000           Afghanistan       500000.00
1     2000      Africa, regional   2449537230.21
2     2000               Albania      1803973.85
3     2000                Angola            NULL
4     2000            Bangladesh    303649316.85
5     2000              Barbados       950000.00
6     2000               Belarus       603973.85
7     2000                 Benin      9240799.84
8     2000    Bosnia-Herzegovina            NULL
9     2000              Botswana            NULL
10    2000                Brazil    860000000.00
11    2000              Bulgaria     20600000.00
12    2000               Burundi            NULL
13    2000              Cambodia     46887426.70
14    2000              Cameroon            NULL
15    2000            Cape Verde            NULL
16    2000  Central African Rep.            NULL
17    2000      Congo, Dem. Rep.     10267503.52
18    2000           Congo, Rep.     73308941.47
19    2000                 Egypt    200000000.00
20    2000               Eritrea     10000000.00
21    2000              Ethiopia       224158.95
22    2000                  Fiji      1807500.00
23    2000                 Gabon      2600000.00
24    2000               Georgia     54362384.31
25    2000                 Ghana     29520000.00
26    2000                Guinea      6869429.65
27    2000         Guinea-Bissau      6000000.00
28    2000             Indonesia        40000.00
29    2000                  Iran   1002000000.00
...    ...                   ...             ...
1306  2012               Senegal     50211948.00
1307  2012                Serbia   1451923939.60
1308  2012            Seychelles            NULL
1309  2012          Sierra Leone   2725158420.04
1310  2012          South Africa   1941631100.79
1311  2012           South Sudan    200000000.00
1312  2012             Sri Lanka   2224691436.85
1313  2012                 Sudan   1568526011.10
1314  2012              Suriname     50031684.01
1315  2012                 Syria      2000000.00
1316  2012            Tajikistan    672763005.55
1317  2012              Tanzania   1813470491.63
1318  2012              Thailand        80429.58
1319  2012           Timor-Leste            NULL
1320  2012                  Togo     16061829.87
1321  2012                 Tonga       189210.02
1322  2012     Trinidad & Tobago            NULL
1323  2012               Tunisia     42784820.13
1324  2012                Turkey    600000000.00
1325  2012                Uganda    218586996.94
1326  2012               Ukraine   5498614703.88
1327  2012  United Arab Emirates   2030000000.00
1328  2012               Uruguay    425000000.00
1329  2012            Uzbekistan    359921033.85
1330  2012               Vanuatu        50000.00
1331  2012             Venezuela  19795000000.00
1332  2012              Viet Nam        10000.00
1333  2012                 Yemen            NULL
1334  2012                Zambia  16723967804.78
1335  2012              Zimbabwe   4867029724.29

[1336 rows x 3 columns]

DataError: No numeric types to aggregate

In [50]:
r3 = requests.get('http://china.aiddata.org/aggregates/projects?get=flowclass,recipientname')
print r3.text

In [51]:
r3